<!--MAIN NAVIGATION-->
<!--===================================================-->
<nav id="mainnav-container" th:fragment="mainnav">
    <div id="mainnav">
        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">
                    <ul id="mainnav-menu" class="list-group">
                        <!--&lt;!&ndash;Menu list item&ndash;&gt;-->
                        <!--<li th:attr="class=${(#httpServletRequest.getRequestURI().contains('/tournaments') || #httpServletRequest.getRequestURI().contains('/rounds')) ? 'active-link' : ''}">-->
                            <!--<a th:href="@{/tournaments}">-->
                                <!--<span class="menu-title"> Tournaments</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;Menu list item&ndash;&gt;-->
                        <!--<li th:attr="class=${#httpServletRequest.getRequestURI().contains('/results') ? 'active-link' : ''}">-->
                            <!--<a th:href="@{/results}">-->
                                <!--<span class="menu-title"> Results</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;Menu list item&ndash;&gt;-->
                        <!--<li th:attr="class=${#httpServletRequest.getRequestURI().contains('/marketing') ? 'active-link' : ''}">-->
                            <!--<a th:href="@{/marketing/images}">-->
                                <!--<span class="menu-title"> Marketing</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;Menu list item&ndash;&gt;-->
                        <!--<li th:attr="class=${#httpServletRequest.getRequestURI().contains('/notifications') ? 'active-link' : ''}">-->
                            <!--<a th:href="@{/notifications}">-->
                                <!--<span class="menu-title"> Notifications</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;Menu list item&ndash;&gt;-->
                        <!--<li th:attr="class=${#httpServletRequest.getRequestURI().contains('/mobile_configuration') ? 'active-link' : ''}">-->
                            <!--<a th:href="@{/mobile_configuration}">-->
                                <!--<span class="menu-title"> Configuration</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;Menu list item&ndash;&gt;-->
                        <!--<li th:attr="class=${#httpServletRequest.getRequestURI().contains('/report') ? 'active-link' : ''}">-->
                            <!--<a th:href="@{/report}">-->
                                <!--<span class="menu-title"> Report</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--Menu list item-->
                        <li th:attr="class=${#httpServletRequest.getRequestURI().contains('/tasks') ? 'active-link' : ''}">
                            <a th:href="@{/tasks}">
                                <span class="menu-title"> Tasks</span>
                            </a>
                        </li>
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <li th:attr="class=${#httpServletRequest.getRequestURI().contains('/accounts') ? 'active-link' : ''}">
                                <a th:href="@{/accounts}">
                                    <span class="menu-title"> Accounts</span>
                                </a>
                            </li>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <li th:attr="class=${#httpServletRequest.getRequestURI().contains('/types') ? 'active-link' : ''}">
                                <a th:href="@{/types}">
                                    <span class="menu-title"> Task Types</span>
                                </a>
                            </li>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <li th:attr="class=${#httpServletRequest.getRequestURI().contains('/priorities') ? 'active-link' : ''}">
                                <a th:href="@{/priorities}">
                                    <span class="menu-title"> Task Priorities</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->
    </div>
</nav>
<!--===================================================-->
<!--END MAIN NAVIGATION-->