<!DOCTYPE html>
<html layout:decorator="layout">
<head>
</head>

<body>
<span layout:fragment="title">Accounts</span>
<ol class="breadcrumb" layout:fragment="breadcrumb">
    <li><a th:href="@{/tasks}">Home</a></li>
    <li class="active">Accounts</li>
    <li><a th:href="@{/accounts/create}">Create</a></li>
</ol>
<div layout:fragment="content" class="results">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Created</th>
                <th>Enabled</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row,rowStat : ${allAccounts}">
                <td th:text="${row.name}">-</td>
                <td th:text="${row.username}">-</td>
                <td th:text="${row.email}">-</td>
                <td th:text="${row.role}">-</td>
                <td th:text="${#dates.format(row.created, 'dd/MM/yyyy HH:mm:ss')}">-</td>
                <td th:text="${row.enabled}">-</td>
                <td class="last">
                    <a class="btn btn-edit btn-sm btn-default" th:href="@{/accounts/edit/__${row.username}__}">Edit</a>
                    <a class="btn btn-edit btn-sm btn-default" th:href="@{/accounts/changePassword/__${row.username}__}">Change Password</a>
                    <a class="btn btn-sm btn-disable-account" th:classappend="${row.enabled == true} ? btn-danger : btn-success"
                       th:href="@{/accounts/state/__${row.id}__/__${!row.enabled}__}" th:text="${row.enabled == true ? 'Disable':'Enable'}">Disable</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>