<!DOCTYPE html>
<html layout:decorator="layout">
<head>
</head>

<body>
<span layout:fragment="title" th:text="${username}"></span>
<ol class="breadcrumb" layout:fragment="breadcrumb">
    <li><a th:href="@{/tasks}">Home</a></li>
    <li><a th:href="@{/accounts}">Accounts</a></li>
    <li class="active">Change Password</li>
</ol>
<div layout:fragment="content" class="results">
    <form data-toggle="validator" th:action="@{/accounts/password}" th:object="${passwordData}" method="post">
        <div class="border-gray">

            <div class="form-group m-5">
                <label class="control-label l-1" for="password">Password</label><br />
                <input id="password" class="form-control" type="text" th:required="required" data-minlength="6" data-maxlength="128" th:field="${passwordData.password}"/>
                <div class="help-block with-errors"></div>
            </div>

        </div>
        <br />
        <!--<button class="btn btn-lg btn-primary">Save</button>-->
        <button class="btn btn-primary btn-lg" id="changePassword">Update</button>
    </form>
</div>
</body>
</html>