<!DOCTYPE html>
<html layout:decorator="layout">
<head>
</head>

<body>
<span layout:fragment="title" th:text="${priority.id > 0 ? priority.value : 'Create Task Priority'}">Create Type</span>
<ol class="breadcrumb" layout:fragment="breadcrumb">
    <li><a th:href="@{/tasks}">Home</a></li>
    <li><a th:href="@{/priorities}">Types</a></li>
    <li th:if="${priority.id > 0}" class="active">Edit</li>
    <li th:if="${priority.id == 0}" class="active">Create</li>
</ol>
<div layout:fragment="content" class="results">
    <form data-toggle="validator" th:action="@{/priorities/manage}" th:object="${priority}" method="post">
        <div class="border-gray">
            <input type="hidden" th:field="${priority.id}"/>

            <div class="form-group m-5">
                <label class="control-label l-1" for="value">Value</label><br />
                <input id="value" class="form-control" type="text" th:required="required" data-minlength="2" data-maxlength="32" th:field="${priority.value}"/>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group m-5">
                <label class="control-label l-1" for="description">Description</label><br />
                <textarea id="description" rows="5" class="form-control" type="text" th:required="required" data-minlength="6" data-maxlength="600" th:field="${priority.description}"></textarea>
                <div class="help-block with-errors"></div>
            </div>

        </div>
        <br />
        <!--<button class="btn btn-lg btn-primary">Save</button>-->
        <button class="btn btn-primary btn-lg" id="createPriority" th:text="${priority.id > 0 ? 'Update':'Create'}">Create</button>
    </form>
</div>
</body>
</html>