<!DOCTYPE html>
<html layout:decorator="layout">
<head>
</head>

<body>
    <span layout:fragment="title" th:text="${account.id > 0 ? account.username : 'Create Account'}">Create Account</span>
    <ol class="breadcrumb" layout:fragment="breadcrumb">
        <li><a th:href="@{/tasks}">Home</a></li>
        <li><a th:href="@{/accounts}">Accounts</a></li>
        <li th:if="${account.id > 0}" class="active">Edit Account</li>
        <li th:if="${account.id == 0}" class="active">Create Account</li>
    </ol>
    <div layout:fragment="content" class="results">
        <div class="row">
            <form data-toggle="validator" th:action="@{/accounts/manage}" th:object="${account}" method="post" >
                <div class="border-gray">
                    <input type="hidden"  th:field="${account.id}"/>
                    <div class="form-group">
                        <label class="control-label" for="username">Username</label><br />
                        <input id="username" class="form-control" type="text" th:required="required" data-minlength="6" data-maxlength="32" th:field="${account.username}"/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="email">Email</label><br />
                        <input id="email" class="form-control" type="text" th:required="required" data-maxlength="32" th:field="${account.email}"/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group" th:if="${account?.id == 0 and account?.password == null}">
                        <label class="control-label" for="password">Password</label><br />
                        <input id="password" class="form-control" type="text" th:required="required" data-minlength="6" data-maxlength="32" th:field="${account.password}"/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="userRole">Role</label><br />
                        <select id="userRole" th:field="${account.role}">
                            <option th:each="role : ${T(bg.sofia.tu.enums.Role).values()}"
                                    th:value="${role.getValue()}"
                                    th:text="${role}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="enabled">Enabled</label><br />
                        <input id="enabled" type="checkbox" th:field="${account.enabled}" />
                    </div>

                </div>
                <br />
                <!--<button class="btn btn-lg btn-primary">Save</button>-->
                <button class="btn btn-primary btn-lg" id="createAccount" th:text="${account.id != 0 ? 'Update':'Create'}">Create</button>
            </form>
        </div>
    </div>
</body>
</html>