<!DOCTYPE html>
<html layout:decorator="layout">
<head>
</head>

<body>
<span layout:fragment="title" th:text="${task.id > 0 ? task.summary : 'Create Task'}">Create Task</span>
<ol class="breadcrumb" layout:fragment="breadcrumb">
    <li><a th:href="@{/tasks}">Home</a></li>
    <li th:if="${task.id > 0}" class="active">View</li>
    <li th:if="${task.id == 0}" class="active">Create</li>
</ol>
<div layout:fragment="content" class="results">
    <form data-toggle="validator" th:action="@{/tasks/save}" th:object="${task}" method="post">
        <div class="border-gray">

            <div class="row m-5">
                <div class="form-group col-xs-4" style="padding-left: 0px;">
                    <label class="control-label l-1" for="type">Type</label><br />
                    <select id="type" th:field="${task.type}" class="selectpicker">
                        <option th:each="type : ${allTypes}"
                                th:value="${type.value}"
                                th:text="${type.value}">
                        </option>
                    </select>
                </div>

                <div class="form-group col-xs-4" style="padding-left: 0px;">
                    <label class="control-label l-1" for="priority">Priority</label><br />
                    <select id="priority" th:field="${task.priority}" class="selectpicker">
                        <option th:each="priority : ${allPriorities}"
                                th:value="${priority.value}"
                                th:text="${priority.value}">
                        </option>
                    </select>
                </div>

                <div class="form-group col-xs-4" style="padding-left: 0px;">
                    <label class="control-label l-1" for="resolution">Resolution</label><br />
                    <select id="resolution" th:field="${task.resolution}" class="selectpicker">
                        <option th:each="resolution : ${allResolution}"
                                th:value="${resolution.value}"
                                th:text="${resolution.value}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group m-5">
                <label class="control-label l-1" for="summary">Summary</label><br />
                <input id="summary" class="form-control" type="text" th:required="required" data-minlength="6" data-maxlength="255" th:field="${task.summary}"/>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group m-5">
                <label class="control-label l-1" for="description">Description</label><br />
                <textarea id="description" rows="5" class="form-control" type="text" th:required="required" data-minlength="6" data-maxlength="1000" th:field="${task.description}"></textarea>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group m-5">
                <label class="control-label l-1" for="assignee">Assignee</label><br />
                <select id="Assignee" th:field="${task.assignee}" class="selectpicker" data-live-search="true">
                    <option th:each="account : ${allAccountUsernames}"
                            th:value="${account}"
                            th:text="${account}">
                    </option>
                </select>
            </div>

            <div class="form-group m-5">
                <label class="control-label l-1" for="points">Story Points</label><br />
                <input id="points" class="form-control" type="number" th:required="required" min="0" th:field="${task.points}"/>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <br />
        <!--th:text="${task.id > 0 ? 'Update':'Create'}"-->
        <button class="btn btn-primary btn-lg" id="createTask">Create</button>
    </form>
</div>
</body>
</html>