<!DOCTYPE html>
<html layout:decorator="layout">
<head>
</head>

<body>
<div layout:fragment="modal"><div th:replace="fragments/modal :: modal(${work}, ${task.id})"></div></div>
<span layout:fragment="title">Manage Task</span>
<ol class="breadcrumb" layout:fragment="breadcrumb">
    <li><a th:href="@{/tasks}">Home</a></li>
    <li class="active">Manage</li>
</ol>
<div layout:fragment="content" class="results">
    <input type="hidden" class="csrf" th:value="${_csrf.token}">
    <div id="task-title" class="row">
        <h3 id="task-id" class="id col-md-1" th:text="'TM-' + ${task.id} + ': '"></h3>
        <a href="#" id="task-summary" data-type="textarea" class="col-md-11 no-decoration" data-pk="1" th:text="${task.summary}"
           th:attr="data-url='/tasks/update/summary/' + ${task.id}">Summary</a>
    </div>
    <hr>

    <div id="manage-task" class="row">
        <div id="taks-left" class="col-md-8">
            <button type="button" class="btn btn-info collapse-div" data-toggle="collapse" data-target="#task-details">Details</button>
            <div id="task-details" class="collapse in">

                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label col-md-4" for="task-type">Type: </label>
                        <a class="col-md-8 type" href="#" id="task-type" data-type="select2" data-pk="1" data-title="Select type"
                           th:text="${task.type.value}" th:attr="data-url='/tasks/update/type/' + ${task.id}">Select Type</a>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label col-md-4" for="task-state">State: </label>
                        <a class="col-md-8 task-button" href="#" id="task-state" data-type="select2" data-pk="1" data-title="Select state"
                           th:text="${task.state}" th:attr="data-url='/tasks/update/state/' + ${task.id}">Select State</a>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label col-md-4" for="task-estimated">Estimated: </label>
                        <span class="col-md-8" href="#" id="task-estimated" th:text="${task.estimatedWork}"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 power">
                        <div style="display:none;" th:text="${task.priority.power}"></div>
                        <label class="control-label col-md-4" for="task-priority">Priority: </label>
                        <a class="col-md-8" href="#" id="task-priority" data-type="select2" data-pk="1" data-title="Select priority"
                           th:text="${task.priority.value}" th:attr="data-url='/tasks/update/priority/' + ${task.id}">Select Priority</a>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label col-md-4" for="task-resolution">Resolution: </label>
                        <a class="col-md-8 task-button" href="#" id="task-resolution" data-type="select2" data-pk="1" data-title="Select resolution"
                           th:text="${task.resolution.value}" th:attr="data-url='/tasks/update/resolution/' + ${task.id}">Select Resolution</a>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label col-md-4" for="task-logged">Logged: </label>
                        <!--<a class="col-md-8 no-decoration" href="#"  th:text="${task.loggedWork}"></a>-->
                        <a class="col-md-8 no-decoration" id="task-logged" data-toggle="modal"
                            data-target="#basicAlertModal" th:text="${task.loggedWork}"></a>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-info collapse-div" data-toggle="collapse" data-target="#description">Description</button>
            <div id="description" class="collapse in description-border col-md-12">
                <a class="col-md-12 no-decoration" href="#" id="task-description" data-type="textarea" data-pk="1" th:text="${task.description}"
                   th:attr="data-url='/tasks/update/description/' + ${task.id}">Add description</a>
            </div>
        </div>

        <div id="task-right" class="col-md-4">
            <button type="button" class="btn btn-info collapse-div" data-toggle="collapse" data-target="#task-people">People</button>
            <div id="task-people" class="collapse in">
                <div class="form-group col-md-12 people">
                    <label class="control-label col-md-3" for="task-reporter">Reporter: </label>
                    <span id="task-reporter" class="col-md-9 reporter" th:text="${task.reporter.username}">-</span>
                </div>

                <div class="form-group col-md-12 people">
                    <label class="control-label col-md-3" for="task-assignee">Assignee: </label>
                    <a class="col-md-9 padding-l-5" href="#" id="task-assignee" data-type="select2" data-pk="1" data-title="Select assignee"
                       th:text="${task.assignee.username}" th:attr="data-url='/tasks/update/assignee/' + ${task.id}">Select Assignee</a>
                </div>
            </div>

            <button type="button" class="btn btn-info collapse-div" data-toggle="collapse" data-target="#task-dates">Dates</button>
            <div id="task-dates" class="collapse in">
                <div class="form-group col-md-12 people">
                    <label class="control-label col-md-3" for="task-created">Created: </label>
                    <span id="task-created" class="col-md-9" th:text="${#dates.format(task.created, 'dd/MM/yyyy HH:mm:ss')}">-</span>
                </div>

                <div class="form-group col-md-12 people">
                    <label class="control-label col-md-3" for="task-updated">Updated: </label>
                    <span id="task-updated" class="col-md-9"
                      th:text="${task.updated == null ? 'Not Updated' : #dates.format(task.updated, 'dd/MM/yyyy HH:mm:ss')}">Not Updated</span>
                </div>

                <div th:if="${task.reopened != null}" class="form-group col-md-12 people">
                    <label class="control-label col-md-3" for="task-reopened">Reopened: </label>
                    <span id="task-reopened" class="col-md-9"
                          th:text="${#dates.format(task.reopened, 'dd/MM/yyyy HH:mm:ss')}">Not Updated</span>
                </div>

                <div th:if="${task.resolved != null}" class="form-group col-md-12 people">
                    <label class="control-label col-md-3" for="task-resolved">Resolved: </label>
                    <span id="task-resolved" class="col-md-9"
                          th:text="${#dates.format(task.resolved, 'dd/MM/yyyy HH:mm:ss')}">Not Updated</span>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-info collapse-div" data-toggle="collapse" data-target="#task-comments">Comments</button>
    <div id="task-comments" class="collapse in description-border col-md-12">
        <span th:if="${#lists.isEmpty(task.comments)}" class="col-md-12 no-comments" >No comments to display</span>
        <div th:each="comment : ${task.comments}">
            <div id="comment-content">
                <div class="row comment-header">
                    <button type="button" class="btn btn-default dropdown-toggle button-size col-md-1" data-toggle="collapse"
                            th:attr="data-target='#comment-text' + ${comment.id}" >
                        <span id="caret" class="caret"></span>
                    </button>

                    <span id="comment-user" class="col-md-2"
                      th:text="${comment.user.name + ' (' + comment.user.username + ') '}">-</span>

                    <span class="col-md-8 padding-l-5"
                       th:text="${'added a comment - ' + #dates.format(comment.time, 'dd/MM/yyyy HH:mm:ss')}">-</span>
                    <a id="delete-comment" class="no-decoration glyphicon glyphicon-trash" th:href="@{/tasks/delete/__${task.id}__/comment/__${comment.id}__}"></a>
                </div>

                <div th:attr="id='comment-text' + ${comment.id}" class="collapse in comment-text">
                    <span class="col-md-12" th:text="${comment.message}">-</span>
                    <hr>
                </div>
            </div>
        </div>

        <button id="create-comment-btn" type="button" class="btn btn-info collapse-div" data-toggle="collapse" data-target="#create-comment">Comment</button>
        <form data-toggle="validator" th:action="@{/tasks/createComment/}" th:object="${commentRequest}" method="post">
            <div id="create-comment" class="collapse col-md-12 form-group m-5">
                <input type="hidden" th:value="${task.id}" id="taskId" name="taskId">

                <textarea id="comment-text" class="col-md-12" rows="5" th:field="${commentRequest.message}"></textarea>
                <div class="help-block with-errors"></div>

                <button class="btn btn-info">Submit</button>
                <button id="cancel-btn" type="button" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>