<!DOCTYPE html>
<html layout:decorator="layout">
<head>
</head>

<body>
<span layout:fragment="title">Task Priorities</span>
<ol class="breadcrumb" layout:fragment="breadcrumb">
    <li><a th:href="@{/tasks}">Home</a></li>
    <li class="active">Priorities</li>
    <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/priorities/create}">Create</a></li>
</ol>
<div layout:fragment="content" class="results">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Priority</th>
                <th>Power</th>
                <th>Enabled</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row,rowStat : ${allPriorities}">
                <td th:text="${row.value}"></td>
                <td th:text="${row.power}"></td>
                <td th:text="${row.enabled}">-</td>
                <td th:text="${row.description}">-</td>
                <td sec:authorize="hasRole('ROLE_ADMIN')" class="last">
                    <a class="btn btn-edit btn-sm btn-default" th:href="@{/priorities/edit/__${row.id}__}">Edit</a>
                    <a class="btn btn-sm btn-disable-account" th:classappend="${row.enabled == true} ? btn-danger : btn-success"
                       th:href="@{/priorities/state/__${row.id}__/__${!row.enabled}__}" th:text="${row.enabled == true ? 'Disable':'Enable'}">Disable</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>